<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>test</title>
</head>
<body>

<th:block th:each="balance : ${balanceList}">

    <form action="#" th:action="@{/admin/balance}" method="get">
        <input type="hidden" name="customername" th:value="${balance.name}" />
        <!--<input type="hidden" name="cakeid" th:value="${entity.id}" />-->

        <button type="submit" th:text="${balance.name} + ' ' + ${balance.value}"></button>
    </form>

</th:block>

<form action="#" th:action="@{/admin/balance}" method="post">
    <input type="text" name="customername" th:value="${userName}" />
    <input type="text" name="sum" size="38">

    <button type="submit">Save</button>
</form>

</body>
</html>
