<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>test</title>
</head>
<body>

<th:block th:each="entity : ${listItems}">

    <form action="#" th:action="@{/order/confirmation}" method="get">
        <input type="hidden" name="customerid" th:value="${customer.id}" />
        <input type="hidden" name="cakeid" th:value="${cake.id}" />
        <input type="hidden" name="count" th:value="${entity}" />
        <button type="submit" th:text="${entity}"></button>
    </form>

</th:block>
</body>
</html>
