body { background-color: #EEE; overflow: hidden; padding: 0; }
#container { background-color: #EEE; border: 1px solid #000; height: 600px; margin: 1% auto 0 auto; overflow: hidden; width: 100%; position: relative;}
#content { padding: 10px; position: absolute; }
select {
    font-size:28px;
}
.wrapper {
    text-align: center;
}
input.submit {
    width: 5em;
    height: 1.4em;
    font-size:20px;
    margin:auto;
    display:block;
}
.btn {
    border: 5px;
    background-color: inherit;
    padding: 5px 52px;
    border-radius: 18px;
    font-size: 36px;
    width: 500px;
    height: 100px;
    cursor: pointer;
    display: inline-block;
    text-align:left;
}

/* Green */
.success {
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}
/* Blue */
.info {
    color: dodgerblue;
    width: 220px;
}

.info:hover {
    background: #2196F3;
    color: white;
    padding: 5px 52px;
    border-radius: 18px;
    font-size: 36px;
    width: 220px;
    cursor: pointer;
    display: inline-block;
    text-align: left;
}

.default:hover {
    background: #e7e7e7;
}
