body {
    background-color: #EEE;
    overflow: hidden;
    padding: 0;
}

#container {
    background-color: #EEE;
    border: 1px solid #000;
    height: 590px;
    margin: 1% auto 0 auto;
    overflow: hidden;
    width: 100%;
    position: relative;
}

#content {
    padding: 10px;
    position: absolute;
}

select {
    font-size: 28px;
}

.wrapper {
    text-align: center;
}

input.submit {
    width: 5em;
    height: 1.4em;
    font-size: 20px;
    margin: auto;
    display: block;

}

.btn {
    border: none;
    background-color: inherit;
    padding: 2px 2px;
    font-size: 30px;
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
    width: 150px;
    height: 85px;
    text-align: left;

}

/* Blue */
.info {
    color: dodgerblue;
    padding: 15px 30px;
}

.info:hover {
    background: #2196F3;
    color: white;
    padding: 15px 30px;
}

/* Green */
.success {
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

.default:hover {
    background: #e7e7e7;
}

small {
    font-size: 16px;
}
