body {
    font-size:28px;
}
.wrapper {
    text-align: center;
}
input.submit {
    width: 5em;
    height: 1.4em;
    font-size:20px;
    margin:auto;
    display:block;
}
.btn {
    border: none;
    background-color: inherit;
    padding: 36px 56px;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
    border-radius: 28px;
    width: 280px;
    height: 100px;
}

/* Blue */
.info {
    color: dodgerblue;
}

.info:hover {
    background: #2196F3;
    color: white;
}
/* Green */
.success {
    color: green;
}

.success:hover {
    background-color: #4CAF50;
    color: white;
}

.default:hover {
    background: #e7e7e7;
}
