<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>test</title>
</head>
<body>

    <h1>Выберите действие:</h1>

    <h2> <a href="/admin/totalcount">Подведение Итогов</a> </h2>
    <h2> <a href="/cake/edit">Добавление позиций</a> </h2>
    <h2> <a href="/customer/add">Добавление сотрудников</a> </h2>
    <h2> <a href="/admin/balance">Внесение денег и проверка баланса</a> </h2>

</body>
</html>
